

* {
    font-size: 14px;
    font-weight: 600;
    font-family: "JetBrains Mono", "Noto Sans Mono CJK JP";
    color: white;
}

window#waybar.waybar {
    border: none;
    background-color: transparent;
}
.modules-left {
    background-color: rgba(27,27,37,0.8);
    border-radius: 12px;
    padding-right: 12px;
}
.modules-center {
    background-color: rgba(27,27,37,0.8);
    border-radius: 12px;
    padding: 0px 0px;
}
.modules-right {
    background-color: rgba(27,27,37,0.8);
    border-radius: 12px;
    padding-left: 12px;
}

menu {
    color: transparent;
    border-radius: 12px;
}
menuitem {
    border-radius: 12px;
    padding: 6px 0px;
    margin: 2px 0px;
}
menuitem:hover {
    background-color: rgba(255,255,255,0.07);
}


/* modules-left */

#custom-menu {
    border-radius: 12px;
    min-width: 36px;
    font-size: 18px;
    color: #1793d1; /* arch logo */
}
#custom-menu:hover {
    color: white;
    background-color: rgba(255,255,255,0.07);
}

#custom-apps {
    margin-left: 12px;
    margin-right: 0px;
    background-color: rgba(255,255,255,0.07);
    padding: 0px 6px 0px 12px;
    border-radius: 12px 0px 0px 12px;
    color: white;
}
#custom-apps:hover {
    color: white;
}

#custom-terminal {
    margin-left: 0px;
    margin-right: 0px;
    background-color: rgba(255,255,255,0.07);
    padding: 0px 6px;
    color: white;
}
#custom-terminal:hover {
    color: white;
}

#custom-code {
    margin-left: 0px;
    margin-right: 0px;
    background-color: rgba(255,255,255,0.07);
    padding: 0px 12px 0px 6px;
    border-radius: 0px 12px 12px 0px;
    color: white;
}
#custom-code:hover {
    color: white;
}

#workspaces {
    margin-left: 12px;
}
#workspaces button {
    padding: 0px 2px;
    border: 0px;
}
/* #workspaces button:hover {
    color: red;
    background-color: red;
}
#workspaces button.active:hover {
    color: red;
    background-color: red;
}
#workspaces button.visible:hover {
    color: red;
    background-color: red;
}
#workspaces button.urgent:hover {
    color: red;
    background-color: red;
}
#workspaces button.empty:hover {
    color: red;
    background-color: red;
}
#workspaces button.persistent:hover {
    color: red;
    background-color: red;
} */


#custom-discord {
    margin-left: 12px;
    padding: 0px 12px;
    background-color: rgba(255,255,255,0.07);
    border-radius: 12px;
}
#custom-discord_icon {
    padding: 0px 0px 0px 12px;
    color: #5865F2;
    font-size: 16px;
}


/* modules-center */

#clock {
    background-color: rgba(255,255,255,0.07);
    padding: 0px 12px;
    min-width: 100px;
    border-radius: 12px;
}
#custom-recording {
    padding: 0px 12px;
    color: white;
}


/* modules-right */

#custom-media_icon {
    padding: 0px 12px 0px 0px;
    color: #1DB954;
    font-size: 18px;
}
#custom-media_prev {
    padding: 0px 6px;
    font-size: 20px;
    color: white;
}
#custom-media_prev:hover {
    color: white;
}
#custom-media_pause {
    padding: 0px 6px;
    font-size: 20px;
    color: white;
}
#custom-media_pause:hover {
    color: white;
}
#custom-media_next {
    padding: 0px 6px;
    font-size: 20px;
    color: white;
}
#custom-media_next:hover {
    color: white;
}
#custom-media {
    margin: 0px 12px 0px 6px;
    padding: 0px 12px;
    background-color: rgba(255,255,255,0.07);
    border-radius: 12px;
}

#network {
    margin-right: 12px;
    border-radius: 12px;
    min-width: 200px;
}

#pulseaudio {
    margin-right: 12px;
    background-color: rgba(255,255,255,0.07);
    padding: 0px 12px;
    border-radius: 12px;
    color: white;
}

#custom-power {
    margin-right: 12px;
    margin-left: 6px;
    color: white;
}
#custom-power:hover {
    color: white;
}





